# Maven / Java build output
/target/
*.class
*.jar
*.war
*.ear

# Logs
*.log
logs/

# OS files
.DS_Store
Thumbs.db

# IDEs / Editors
.idea/
*.iml
.vscode/

# Local environment / secrets
.env
.env.*
*.local

# Temporary files
*.tmp
*.swp
*~

*.http
# *.yml
!.github/
!.github/workflows/
!.github/workflows/*.yml

*.ps1
## Terraform local artifacts
.terraform/
**/.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.tfstate.lock.info
infra/terraform/terraform.tfvars
